In [1]:
import numpy as np
import pandas as pd
from env import host, user, password

### Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string

In [2]:
def get_db_url(user, host, password, database):
    url = f"mysql+pymysql://{user}:{password}@{host}/{database}"
    return url

### Use your function to obtain a connection to the employees database.

In [3]:
employees_url = get_db_url(user, host, password, 'employees')
employees_query = "SELECT * FROM employees"

In [5]:
employees_df = pd.read_sql(employees_query, employees_url)
employees_df

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

### Intentionally make a typo in the database url. What kind of error message do you see?

In [6]:
pd.read_sql(employees_query, "wrong_url")

ArgumentError: Could not parse rfc1738 URL from string 'wrong_url'

The error says it could not parse the URL from the URL string I gave it.

### Intentionally make an error in your SQL query. What does the error message look like?

In [7]:
pd.read_sql("bad_sql", employees_url)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'bad_sql' at line 1")
[SQL: bad_sql]
(Background on this error at: https://sqlalche.me/e/14/f405)

The error says that I have an error in my SQL syntax.

### Read the employees and titles tables into two separate DataFrames.

In [8]:
employees_df = pd.read_sql(employees_query, employees_url)
employees_df

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [9]:
titles_query = "SELECT * FROM titles"
titles_df = pd.read_sql(titles_query, employees_url)
titles_df

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

### How many rows and columns do you have in each DataFrame? Is that what you expected?

In [10]:
employees_df.shape

(300024, 6)

In [11]:
titles_df.shape

(443308, 4)

I see everything that I expected to see.

### Display the summary statistics for each DataFrame.

In [12]:
employees_df.info()
employees_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [13]:
titles_df.info()
titles_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

### How many unique titles are in the titles DataFrame?

In [15]:
titles_df.title.unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

In [16]:
len(titles_df.title.unique())

7

### What is the oldest date in the to_date column?

In [19]:
titles_df.to_date.sort_values().head(1)

16064    1985-03-01
Name: to_date, dtype: object

### What is the most recent date in the to_date column?

I took most recent date to mean the most recent date that is less than or equal to today's date. Not anything after.

In [23]:
# Need to import date function from datetime module
from datetime import date
titles_df[titles_df.to_date <= date.today()].to_date.sort_values().tail(1)

364701    2002-08-01
Name: to_date, dtype: object